name: CI-CD

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 1. форматирование
      - name: Check code style with black
        run: |
          black --check src tests monitoring

      # 2. линтер с нужными настройками
      - name: Lint with flake8
        run: |
          flake8 src tests monitoring --max-line-length=100 --extend-ignore=E203,W503

      # 3. сначала готовим данные (это создаст data/processed/*.csv)
      - name: Run DVC pipeline
        run: |
          dvc init --no-scm
          dvc repro

      # 4. потом валидируем данные (Great Expectations в коде)
      - name: Validate data
        run: |
          python src/data/validation.py data/processed/train.csv
          python src/data/validation.py data/processed/test.csv

      # 5. тесты
      - name: Run tests
        env:
          PYTHONPATH: .
        run: |
          pytest -v
